*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main{
    /* margin: 0 auto; */
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 80vh;
    width: 80vw;
    border: 1px solid red;
    background-image: url("/resources/Banner\ Image.png") ;
    background-size: contain;
    background-color: rgb(184, 178, 178);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}
.bannerText{
    background-color: rgba(17, 16, 16, 0.6);
    color: #fff;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.largeText{
    font-size:50px;
    font-weight: 800;
}
